suPHP_ConfigPath /home/distinct/public_html
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]
RewriteCond %{REQUEST_FILENAME}\.htm -f
RewriteRule ^(.+)$ $1.htm [L,QSA]
RewriteRule ^(.*) public/$1 [L]
