@charset "utf-8";
/* CSS Document */

body {
    color:#505050;
    font-style: normal;
    font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:1.50em;
    background-color:fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight:300;
    line-height:1.25em;
}

@media only screen and (min-width: 1281px) {
}


@media only screen and (min-width: 1025px) and (max-width: 1280px){
}
	
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (max-width: 480px){
}
