@charset "utf-8";
/* CSS Document */

/*  ============================================================================================= */
/*  VIDesignz Responsive Layout v2.0 • 01/01/2016                                                 */
/*  ============================================================================================= */

/* == Body Classes ================================= */

body {
	width:100%;
	min-width:280px;
}

.full-w { width:100%; position:relative; }
.limit-w { max-width:1024px; }

.center { display:block; position:relative; margin:0 auto; }
.spacer { height:1.2em; display:block; width:100%; }
.spacer-solid { height:1.2em; display:block; width:100%; border-bottom:1px solid #CACAE6; }
.half-spacer { height:.6em; display:block; width:100%; }

/* == H Classes ==================================== */

h1 { font-size:1.70em !important; }
h2 { font-size:1.60em !important; }
h3 { font-size:1.50em !important; }
h4 { font-size:1.40em !important; }
h5 { font-size:1.30em !important; }
h6 { font-size:1.20em !important; }

/* == Clearfix ===================================== */

.row:after, .row:before, .clearfix:before, .clearfix:after {	
	content:"\0020";
	display:block;
	height:0px;
	visibility:hidden;
	opacity:0;
}

.clearfix:after, .row:after { clear:both; }

.clearfix, .row { zoom:1; }

/* == Row Classes ================================== */

.row {
	
	position:relative;
	margin:0 auto;
	padding:0 .6em;
	
}

/* == Column Classes =============================== */

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 {
	
	float:left;
	min-height:1px;
	padding:0 .6em 1.2em;
	
}

.col-1:empty, .col-2:empty, .col-3:empty,
.col-4:empty, .col-5:empty, .col-6:empty,
.col-7:empty, .col-8:empty, .col-9:empty,
.col-10:empty, .col-11:empty, .col-12:empty {
	
	padding:0; background:none;
	
}

.col-1  { width:8.333%; }
.col-2  { width:16.666%; }
.col-3  { width:25%; }
.col-4  { width:33.333%; }
.col-5  { width:41.666%; }
.col-6  { width:50%; }
.col-7  { width:58.333%; }
.col-8  { width:66.666%; }
.col-9  { width:75%; }
.col-10 { width:83.333%; }
.col-11 { width:91.666%; }
.col-12 { width:100%; }

/* == Row & Column Min/Max Classes ================= */

.max-a { padding:        0; }
.max-t { padding-top:    0; }
.max-r { padding-right:  0; }
.max-b { padding-bottom: 0; }
.max-l { padding-left:   0; }
.max-h { padding-left:   0; padding-right:  0; }
.max-v { padding-top:    0; padding-bottom: 0; }

.mid-a { padding:        .6em; }
.mid-t { padding-top:    .6em; }
.mid-r { padding-right:  .6em; }
.mid-b { padding-bottom: .6em; }
.mid-l { padding-left:   .6em; }
.mid-h { padding-left:   .6em; padding-right:  .6em; }
.mid-v { padding-top:    .6em; padding-bottom: .6em; }

.min-a { padding:        1.2em; }
.min-t { padding-top:    1.2em; }
.min-r { padding-right:  1.2em; }
.min-b { padding-bottom: 1.2em; }
.min-l { padding-left:   1.2em; }
.min-h { padding-left:   1.2em; padding-right:  1.2em; }
.min-v { padding-top:    1.2em; padding-bottom: 1.2em; }


/* ============================================================================== */
/* == Extra Large Breakpoint (1281px and Up) • Prefix 'xl' ====================== */
/* ============================================================================== */

@media only screen and (min-width: 1281px) {

body { font-size:.85em; }	
.xl-limit-w { max-width:1280px; }
	
/* == (Extra Large) Column Classes ========================== */

.xl-1-s  { width:8.333%; }
.xl-2-s  { width:16.666%; }
.xl-3-s  { width:25%; }
.xl-4-s  { width:33.333%; }
.xl-5-s  { width:41.666%; }
.xl-6-s  { width:50%; }
.xl-7-s  { width:58.333%; }
.xl-8-s  { width:66.666%; }
.xl-9-s  { width:75%; }
.xl-10-s { width:83.333%; }
.xl-11-s { width:91.666%; }
.xl-12-s { width:100%; }

.xl-1  { width:8.333%; }
.xl-2  { width:16.666%; }
.xl-3  { width:25%; }
.xl-4  { width:33.333%; }
.xl-5  { width:41.666%; }
.xl-6  { width:50%; }
.xl-7  { width:58.333%; }
.xl-8  { width:66.666%; }
.xl-9  { width:75%; }
.xl-10 { width:83.333%; }
.xl-11 { width:91.666%; }
.xl-12 { width:100%; }

/* == (Extra Large) Row & Column Min/Max Classes ============ */

.xl-max-a { padding:        0; }
.xl-max-t { padding-top:    0; }
.xl-max-r { padding-right:  0; }
.xl-max-b { padding-bottom: 0; }
.xl-max-l { padding-left:   0; }
.xl-max-h { padding-left:   0; padding-right:  0; }
.xl-max-v { padding-top:    0; padding-bottom: 0; }

.xl-mid-a { padding:        .6em; }
.xl-mid-t { padding-top:    .6em; }
.xl-mid-r { padding-right:  .6em; }
.xl-mid-b { padding-bottom: .6em; }
.xl-mid-l { padding-left:   .6em; }
.xl-mid-h { padding-left:   .6em; padding-right:  .6em; }
.xl-mid-v { padding-top:    .6em; padding-bottom: .6em; }

.xl-min-a { padding:        1.2em; }
.xl-min-t { padding-top:    1.2em; }
.xl-min-r { padding-right:  1.2em; }
.xl-min-b { padding-bottom: 1.2em; }
.xl-min-l { padding-left:   1.2em; }
.xl-min-h { padding-left:   1.2em; padding-right:  1.2em; }
.xl-min-v { padding-top:    1.2em; padding-bottom: 1.2em; }

/* == (Extra Large) Hide Class ============================== */

.xl-h { display:none !important; }
.xl-h-s { display:none !important; }
.xs-h-l, .sm-h-l, .md-h-l, .lg-h-l, .xl-h-l { display:none !important; }

}

/* ============================================================================== */
/* == Large Breakpoint (1025px to 1280px) • Prefix 'lg' ========================= */
/* ============================================================================== */

@media only screen and (min-width: 1025px) and (max-width: 1280px){

body { font-size:.84em; }
.lg-limit-w { max-width:1024px; }
	
/* == (Large) Column Classes ================================ */

.xl-1-s,  .lg-1-s  { width:8.333%; }
.xl-2-s,  .lg-2-s  { width:16.666%; }
.xl-3-s,  .lg-3-s  { width:25%; }
.xl-4-s,  .lg-4-s  { width:33.333%; }
.xl-5-s,  .lg-5-s  { width:41.666%; }
.xl-6-s,  .lg-6-s  { width:50%; }
.xl-7-s,  .lg-7-s  { width:58.333%; }
.xl-8-s,  .lg-8-s  { width:66.666%; }
.xl-9-s,  .lg-9-s  { width:75%; }
.xl-10-s, .lg-10-s { width:83.333%; }
.xl-11-s, .lg-11-s { width:91.666%; }
.xl-12-s, .lg-12-s { width:100%; }

.lg-1  { width:8.333%; }
.lg-2  { width:16.666%; }
.lg-3  { width:25%; }
.lg-4  { width:33.333%; }
.lg-5  { width:41.666%; }
.lg-6  { width:50%; }
.lg-7  { width:58.333%; }
.lg-8  { width:66.666%; }
.lg-9  { width:75%; }
.lg-10 { width:83.333%; }
.lg-11 { width:91.666%; }
.lg-12 { width:100%; }

/* == (Large) Row & Column Min/Max Classes ================== */

.lg-max-a { padding:        0; }
.lg-max-t { padding-top:    0; }
.lg-max-r { padding-right:  0; }
.lg-max-b { padding-bottom: 0; }
.lg-max-l { padding-left:   0; }
.lg-max-h { padding-left:   0; padding-right:  0; }
.lg-max-v { padding-top:    0; padding-bottom: 0; }

.lg-mid-a { padding:        .6em; }
.lg-mid-t { padding-top:    .6em; }
.lg-mid-r { padding-right:  .6em; }
.lg-mid-b { padding-bottom: .6em; }
.lg-mid-l { padding-left:   .6em; }
.lg-mid-h { padding-left:   .6em; padding-right:  .6em; }
.lg-mid-v { padding-top:    .6em; padding-bottom: .6em; }

.lg-min-a { padding:        1.2em; }
.lg-min-t { padding-top:    1.2em; }
.lg-min-r { padding-right:  1.2em; }
.lg-min-b { padding-bottom: 1.2em; }
.lg-min-l { padding-left:   1.2em; }
.lg-min-h { padding-left:   1.2em; padding-right:  1.2em; }
.lg-min-v { padding-top:    1.2em; padding-bottom: 1.2em; }

/* == (Large) Hide Class ==================================== */

.lg-h { display:none !important; }
.lg-h-s, .xl-h-s { display:none !important; }
.xs-h-l, .sm-h-l, .md-h-l, .lg-h-l { display:none !important; }

}

/* ============================================================================== */
/* == Medium Breakpoint (769px to 1024px) • Prefix 'md' ========================= */
/* ============================================================================== */

@media only screen and (min-width: 769px) and (max-width: 1024px) {

body { font-size:.83em; }
.md-limit-w { max-width:768px; }
	
/* == (Medium) Column Classes =============================== */

.xl-1-s,  .lg-1-s,  .md-1-s  { width:8.333%; }
.xl-2-s,  .lg-2-s,  .md-2-s  { width:16.666%; }
.xl-3-s,  .lg-3-s,  .md-3-s  { width:25%; }
.xl-4-s,  .lg-4-s,  .md-4-s  { width:33.333%; }
.xl-5-s,  .lg-5-s,  .md-5-s  { width:41.666%; }
.xl-6-s,  .lg-6-s,  .md-6-s  { width:50%; }
.xl-7-s,  .lg-7-s,  .md-7-s  { width:58.333%; }
.xl-8-s,  .lg-8-s,  .md-8-s  { width:66.666%; }
.xl-9-s,  .lg-9-s,  .md-9-s  { width:75%; }
.xl-10-s, .lg-10-s, .md-10-s { width:83.333%; }
.xl-11-s, .lg-11-s, .md-11-s { width:91.666%; }
.xl-12-s, .lg-12-s, .md-12-s { width:100%; }

.md-1  { width:8.333%; }
.md-2  { width:16.666%; }
.md-3  { width:25%; }
.md-4  { width:33.333%; }
.md-5  { width:41.666%; }
.md-6  { width:50%; }
.md-7  { width:58.333%; }
.md-8  { width:66.666%; }
.md-9  { width:75%; }
.md-10 { width:83.333%; }
.md-11 { width:91.666%; }
.md-12 { width:100%; }

/* == (Medium) Row & Column Min/Max Classes ================= */

.md-max-a { padding:        0; }
.md-max-t { padding-top:    0; }
.md-max-r { padding-right:  0; }
.md-max-b { padding-bottom: 0; }
.md-max-l { padding-left:   0; }
.md-max-h { padding-left:   0; padding-right:  0; }
.md-max-v { padding-top:    0; padding-bottom: 0; }

.md-mid-a { padding:        .6em; }
.md-mid-t { padding-top:    .6em; }
.md-mid-r { padding-right:  .6em; }
.md-mid-b { padding-bottom: .6em; }
.md-mid-l { padding-left:   .6em; }
.md-mid-h { padding-left:   .6em; padding-right:  .6em; }
.md-mid-v { padding-top:    .6em; padding-bottom: .6em; }

.md-min-a { padding:        1.2em; }
.md-min-t { padding-top:    1.2em; }
.md-min-r { padding-right:  1.2em; }
.md-min-b { padding-bottom: 1.2em; }
.md-min-l { padding-left:   1.2em; }
.md-min-h { padding-left:   1.2em; padding-right:  1.2em; }
.md-min-v { padding-top:    1.2em; padding-bottom: 1.2em; }

/* == (Medium) Hide Class =================================== */

.md-h { display:none !important; }
.md-h-s, .lg-h-s, .xl-h-s { display:none !important; }
.xs-h-l, .sm-h-l, .md-h-l { display:none !important; }

}

/* ============================================================================== */
/* == Small Breakpoint (481px to 768px) • Prefix 'sm' =========================== */
/* ============================================================================== */

@media only screen and (min-width: 481px) and (max-width: 768px) {

body { font-size:.82em; }
.sm-limit-w { max-width:480px; }

/* == (Small) Column Classes ================================ */

.xl-1-s,  .lg-1-s,  .md-1-s,  .sm-1-s  { width:8.333%; }
.xl-2-s,  .lg-2-s,  .md-2-s,  .sm-2-s  { width:16.666%; }
.xl-3-s,  .lg-3-s,  .md-3-s,  .sm-3-s  { width:25%; }
.xl-4-s,  .lg-4-s,  .md-4-s,  .sm-4-s  { width:33.333%; }
.xl-5-s,  .lg-5-s,  .md-5-s,  .sm-5-s  { width:41.666%; }
.xl-6-s,  .lg-6-s,  .md-6-s,  .sm-6-s  { width:50%; }
.xl-7-s,  .lg-7-s,  .md-7-s,  .sm-7-s  { width:58.333%; }
.xl-8-s,  .lg-8-s,  .md-8-s,  .sm-8-s  { width:66.666%; }
.xl-9-s,  .lg-9-s,  .md-9-s,  .sm-9-s  { width:75%; }
.xl-10-s, .lg-10-s, .md-10-s, .sm-10-s { width:83.333%; }
.xl-11-s, .lg-11-s, .md-11-s, .sm-11-s { width:91.666%; }
.xl-12-s, .lg-12-s, .md-12-s, .sm-12-s { width:100%; }

.sm-1  { width:8.333%; }
.sm-2  { width:16.666%; }
.sm-3  { width:25%; }
.sm-4  { width:33.333%; }
.sm-5  { width:41.666%; }
.sm-6  { width:50%; }
.sm-7  { width:58.333%; }
.sm-8  { width:66.666%; }
.sm-9  { width:75%; }
.sm-10 { width:83.333%; }
.sm-11 { width:91.666%; }
.sm-12 { width:100%; }

/* == (Small) Row & Column Min/Max Classes ================== */

.sm-max-a { padding:        0; }
.sm-max-t { padding-top:    0; }
.sm-max-r { padding-right:  0; }
.sm-max-b { padding-bottom: 0; }
.sm-max-l { padding-left:   0; }
.sm-max-h { padding-left:   0; padding-right:  0; }
.sm-max-v { padding-top:    0; padding-bottom: 0; }

.sm-mid-a { padding:        .6em; }
.sm-mid-t { padding-top:    .6em; }
.sm-mid-r { padding-right:  .6em; }
.sm-mid-b { padding-bottom: .6em; }
.sm-mid-l { padding-left:   .6em; }
.sm-mid-h { padding-left:   .6em; padding-right:  .6em; }
.sm-mid-v { padding-top:    .6em; padding-bottom: .6em; }

.sm-min-a { padding:        1.2em; }
.sm-min-t { padding-top:    1.2em; }
.sm-min-r { padding-right:  1.2em; }
.sm-min-b { padding-bottom: 1.2em; }
.sm-min-l { padding-left:   1.2em; }
.sm-min-h { padding-left:   1.2em; padding-right:  1.2em; }
.sm-min-v { padding-top:    1.2em; padding-bottom: 1.2em; }

/* == (Small) Hide Class ==================================== */

.sm-h { display:none !important; }
.sm-h-s, .md-h-s, .lg-h-s, .xl-h-s { display:none !important; }
.xs-h-l, .sm-h-l { display:none !important; }

}

/* ========================================================================== */
/* == Extra Small Breakpoint (0px to 480px) • Prefix 'xs' =================== */
/* ========================================================================== */

@media only screen and (max-width: 480px){
	
body { font-size:.8em; }

/* == (Extra Small) Column Classes ========================== */

.xl-1-s,  .lg-1-s,  .md-1-s,  .sm-1-s  { width:8.333%; }
.xl-2-s,  .lg-2-s,  .md-2-s,  .sm-2-s  { width:16.666%; }
.xl-3-s,  .lg-3-s,  .md-3-s,  .sm-3-s  { width:25%; }
.xl-4-s,  .lg-4-s,  .md-4-s,  .sm-4-s  { width:33.333%; }
.xl-5-s,  .lg-5-s,  .md-5-s,  .sm-5-s  { width:41.666%; }
.xl-6-s,  .lg-6-s,  .md-6-s,  .sm-6-s  { width:50%; }
.xl-7-s,  .lg-7-s,  .md-7-s,  .sm-7-s  { width:58.333%; }
.xl-8-s,  .lg-8-s,  .md-8-s,  .sm-8-s  { width:66.666%; }
.xl-9-s,  .lg-9-s,  .md-9-s,  .sm-9-s  { width:75%; }
.xl-10-s, .lg-10-s, .md-10-s, .sm-10-s { width:83.333%; }
.xl-11-s, .lg-11-s, .md-11-s, .sm-11-s { width:91.666%; }
.xl-12-s, .lg-12-s, .md-12-s, .sm-12-s { width:100%; }

.xs-1  { width:8.333%; }
.xs-2  { width:16.666%; }
.xs-3  { width:25%; }
.xs-4  { width:33.333%; }
.xs-5  { width:41.666%; }
.xs-6  { width:50%; }
.xs-7  { width:58.333%; }
.xs-8  { width:66.666%; }
.xs-9  { width:75%; }
.xs-10 { width:83.333%; }
.xs-11 { width:91.666%; }
.xs-12 { width:100%; }

/* == (Extra Small) Row & Column Min/Max Classes ============ */

.xs-max-a { padding:        0; }
.xs-max-t { padding-top:    0; }
.xs-max-r { padding-right:  0; }
.xs-max-b { padding-bottom: 0; }
.xs-max-l { padding-left:   0; }
.xs-max-h { padding-left:   0; padding-right:  0; }
.xs-max-v { padding-top:    0; padding-bottom: 0; }

.xs-mid-a { padding:        .6em; }
.xs-mid-t { padding-top:    .6em; }
.xs-mid-r { padding-right:  .6em; }
.xs-mid-b { padding-bottom: .6em; }
.xs-mid-l { padding-left:   .6em; }
.xs-mid-h { padding-left:   .6em; padding-right:  .6em; }
.xs-mid-v { padding-top:    .6em; padding-bottom: .6em; }

.xs-min-a { padding:        1.2em; }
.xs-min-t { padding-top:    1.2em; }
.xs-min-r { padding-right:  1.2em; }
.xs-min-b { padding-bottom: 1.2em; }
.xs-min-l { padding-left:   1.2em; }
.xs-min-h { padding-left:   1.2em; padding-right:  1.2em; }
.xs-min-v { padding-top:    1.2em; padding-bottom: 1.2em; }

/* == (Extra Small) Hide Class ============================== */

.xs-h { display:none !important; }
.sm-h-s, .md-h-s, .lg-h-s, .xl-h-s { display:none !important; }
.xs-h-l { display:none !important; }

}
